/*  your css code here. If applicable */

.header{
	
	color:white;
	background-color:#011e29;
	padding:15px;
}
.card{
	display:grid;
	grid-gap:5px;
}

.latest-news-section{ 
	padding:10px;
	margin:10px;
	width:300px;
	background-color:white;
}
.main-article{ 
	padding:10px;
	margin:10px;
	width:300px;
	background-color:white;
}
.pictorial-news-section{ 
	padding:10px;
	margin:10px;
	width:300px;
	text-align:center;
	align-items:center;
	background-color:white;
}
img{
	width:200px;
	margin:10px;
}